<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--数据字节缓冲区，默认单位MB-->
    <add key="BufferByteSize" value="2"/>
    <!--请求外网IP的时间，默认单位秒-->
    <add key="RequestTime" value="6"/>
  </appSettings>
</configuration>