<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--数据字节缓冲区，默认单位MB-->
    <add key="BufferByteSize" value="2"/>
    <!--请求外网IP的时间，默认单位秒-->
    <add key="RequestTime" value="6"/>
    <!--发送文件大小，默认单位MB-->
    <add key="FileSize" value="3"/>
    <!--字节流头部大小
        1位：消息格式
        2位：收发文件支持的格式
        3位：暂无
        4位：暂无
        5位：暂无
        6位：暂无
        7位：暂无
        8位：暂无
        9位：暂无
        10位：暂无-->
    <add key="StreamHeadSize" value="10"/>
  </appSettings>
</configuration>